
<h2>Users</h2>
<% @users.each do |user| %>
<div class="users">
<ul class="avatar">
<img class="pf_pic" src='<%= user.avatar.thumb.url %>' /></li>
<h3 id="name"><%= user.first_name %></h3
>
<h3 id="name"><%= user.last_name %></h3
>
<br>
<h2 id="username"><%= user.username %></h2>
</ul>
</div>
<% end %>

