<p class="fields">
  <%= f.label :image, "Photo" %><br />
  <%= f.file_field :image, :rows => 3 %><br />
  <%= f.label :caption, "Caption" %><br />
  <%= f.text_field :caption, :rows => 3 %><br />
</p>
