<div class="container">
<p id="fields">
  <%= f.label :image, "Photo" %>
  <%= f.file_field :image, :rows => 3 %>
  <%= f.label :caption, "Caption" %><br />
  <%= f.text_field :caption, :rows => 3 %>
</p>
</div>
