<!-- <br>
<br>
<br>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Bad+Script::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>


<script id='show-post' type='text/x-handlebars-template'>
	<h1>{{name}}</h1>
	<h4 class="caption">{{blurb}}</h4>
	<img class="post_pic" src={{imgURL}}/>
	<p></p>

</script>
 -->
